body {
    width: 100vw;
    height: 100vh;
}

.ringo-notice {
    font-size: 16px !important;
    color: #666 !important;
}

.ringo-notice-content::before {
    width: 18px !important;
    height: 18px !important;
}